@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@500&family=Questrial&family=Raleway:wght@200&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section {
    background: linear-gradient(90deg, rgba(243, 108, 92, 1) 0%, rgba(72, 98, 183, 1) 47%, rgba(76, 187, 163, 1) 94%);
    width: 100%;
    height: 3rem;
}

 img {
    width: 27rem;
    margin: auto;
    display: block;
    margin-top: -4%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 30px 0;
    margin-top: -1%;


}

fieldset {
    padding: 20px 20px 20px;
    width: 40rem;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

input {
    display: block;
    cursor:pointer;
    border:0;
    border-bottom: 1px solid black;
    width: 100%;
    outline: 0;
    font-size: 15px;
    padding: 3px 0px 0px;
}

input:focus {
border-bottom: 1px solid  rgb(212, 28, 7) ;
}



p {
    font-weight: bold;
    text-decoration:underline;
    font-size: 16px;
}

.button-alter button{
    background: linear-gradient(90deg, rgb(238, 85, 69) 0%, rgb(29, 74, 220) 47%, rgb(11, 189, 150) 94%);
    border-style: none;
    padding: 5px 8px 8px;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 17px;
    border-radius: 20px;
    text-shadow: 1px 1px 1px black;
    width: 10rem;
    float: left;

}

.button-delete button {
    background: linear-gradient(90deg, rgb(238, 85, 69) 0%, rgb(29, 74, 220) 47%, rgb(11, 189, 150) 94%);
    border-style: none;
    padding: 5px 35px 8px;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 17px;
    border-radius: 20px;
    text-shadow: 1px 1px 1px black;
    float: right;
}

.button-deletar button {
    background: linear-gradient(90deg, rgb(238, 85, 69) 0%, rgb(29, 74, 220) 47%, rgb(11, 189, 150) 94%);
    border-style: none;
    padding: 5px 35px 8px;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 17px;
    border-radius: 20px;
    text-shadow: 1px 1px 1px black;
    float: right;
}


.deletar button {
    background: linear-gradient(90deg, rgb(238, 85, 69) 0%, rgb(29, 74, 220) 47%, rgb(11, 189, 150) 94%);
    border-style: none;
    padding: 5px 35px 8px;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 17px;
    border-radius: 20px;
    text-shadow: 1px 1px 1px black;
    display: block;
    margin: auto;
}

.successInput {
   border-bottom: 1px solid rgb(7, 255, 7) !important;

}



small {
   color: rgb(255, 0, 0);
   font-weight: bold;
   font-size: 10px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;



}
.errorInput {
    border-bottom: 1px solid rgb(255, 0, 0) !important;

 }
 
 .icon-eye img{
    width: 20px;
    left: 17rem;
    position: relative;
    margin-top: -5%;
 }