@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@500&family=Questrial&family=Raleway:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@200&family=Fjalla+One&family=Montserrat:wght@100;500;600;700&family=Open+Sans:wght@300&family=Oswald&family=Roboto:wght@100;300;500&family=Sofia+Sans+Semi+Condensed&family=Source+Sans+Pro:wght@200&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section {
    background: linear-gradient(90deg, rgba(243, 108, 92, 1) 0%, rgba(72, 98, 183, 1) 47%, rgba(76, 187, 163, 1) 94%);
    width: 100%;
    height: 3rem;
}

 img {
    width: 27rem;
    margin: auto;
    display: block;
    margin-top: -4%;
}


fieldset {
    padding: 20px 20px 20px;
    width: 40rem;
    border-radius: 20px;
   display: block;
   margin: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

input {
    display: block;
    cursor:pointer;
    border:0;
    border-bottom: 1px solid black;
    width: 100%;
    outline: 0;
    font-size: 15px;
    padding: 3px 0px 0px;
}

input:focus {
border-bottom: 1px solid  rgb(212, 28, 7) ;
}



p {
    font-weight: bold;
    text-decoration:underline;
    font-size: 16px;
}

.button-alter button{
    background: linear-gradient(90deg, rgb(238, 85, 69) 0%, rgb(29, 74, 220) 47%, rgb(11, 189, 150) 94%);
    border-style: none;
    padding: 5px 8px 8px;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 17px;
    border-radius: 20px;
    text-shadow: 1px 1px 1px black;
    width: 10rem;
    position: relative;
    left: 35%;

}



.button-delete button {
    background: linear-gradient(90deg, rgb(238, 85, 69) 0%, rgb(29, 74, 220) 47%, rgb(11, 189, 150) 94%);
    border-style: none;
    padding: 5px 35px 8px;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 17px;
    border-radius: 20px;
    text-shadow: 1px 1px 1px black;
    position: absolute;
    left: 52%;
    margin-top: -2.8%;
}




.successInput {
   border-bottom: 1px solid rgb(7, 255, 7) !important;

}



small {
   color: rgb(255, 0, 0);
   font-weight: bold;
   font-size: 10px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;



}
.errorInput {
    border-bottom: 1px solid rgb(255, 0, 0) !important;

 }
 
 .icon-eye img{
    width: 20px;
   margin-left: 35rem;
    margin-top: -5%;
 }

 .status-reserva  a {
position: absolute;
left: 73rem;
text-transform: uppercase;
margin-top: -18%;
text-decoration: none;
font-size: 20px;
color: rgb(12, 240, 190);
text-shadow: 2px 2px 0px #FFFFFF, 5px 4px 0px rgba(0,0,0,0.15);
color: black;
font-family:  'Oswald', sans-serif;
 }

 li {
    list-style: none;
 }

 .input-box-id {


    text-align:center;  
    color: black;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px rgb(82, 79, 79);
    margin-top: -1rem;
 }

 .input-box-id input {
    width: 20%;
    height: 30px;
    padding: 5px;
    display: block;
    margin: auto;
    border: 1px solid #000000;
    border-radius: 15px;
    margin-top: 3%;
    background-color: #e2f6f7;
    color: #6c5151;
    font-size: 14px;
    text-align: center;
 }

 .input-box-id button {
    background: linear-gradient(90deg, rgb(238, 85, 69) 0%, rgb(29, 74, 220) 47%, rgb(11, 189, 150) 94%);
    border-style: none;
    padding: 6px 40px 8px;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 17px;
    border-radius: 30px;
    text-shadow: 2px 2px 2px black;
    margin-top: 2rem;
   
 }


 
