* {
    margin: 0;
    padding: 0;
    box-shadow: border-box;
}

section {
    width: 100%;
    height: 8vh;
    background: linear-gradient(90deg, rgba(243, 108, 92, 1) 0%, rgba(72, 98, 183, 1) 47%, rgba(76, 187, 163, 1) 94%);
    ;
}

img {
    width: 5rem;

}

.img-1 {
    display: flex;
    justify-content: center;
    align-items: center;
}


