@import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@200&family=Fira+Sans+Condensed:wght@500&family=Fjalla+One&family=Montserrat:wght@100;500;600;700&family=Open+Sans:wght@300;400&family=Oswald&family=Roboto:wght@100;300;500&family=Schibsted+Grotesk:wght@500&family=Sofia+Sans+Semi+Condensed&family=Source+Sans+Pro:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e4e4e4;
}


.standard-container {
    background-color: white;
    width: 65%;
    height: 65rem;
    display: block;
    margin: 0 auto;
    margin-top: 10%;
    border-style: ridge;
    border-width: 2px;
    border-color: black;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    border-radius: 2px;

}


.standard-container img {
    padding: 20px 20px 20px;



}

.title-1 p {
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-top: -29%;
    margin-right: 13%;


}

.title-0 p {
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-top: -29%;
    margin-left: 9%;


}

.title-2 p {
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-top: -29%;
    margin-left: 20%;
}

.title-3 p {
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-top: -29%;
    margin-left: 17%;
}

.title-4 p {
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-top: -30%;
    margin-left: -5%;
}

.title-5 p {
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-top: -30%;
    margin-left: 3%;
}

.text-2 h4 {
    font-family: 'Fira Sans Condensed', sans-serif;
    margin-left: 36%;
    margin-top: 1%;
    font-size: 12px;
    margin-right: 1%;
    color: grey;
    font-weight: bold;
}

.text-3 h4 {
    font-family: 'Fira Sans Condensed', sans-serif;
    margin-left: 36%;
    margin-top: 1%;
    font-size: 11px;
    margin-right: 1%;
    color: grey;
    font-weight: bold;

}

.text-1 h4 {
    font-family: 'Fira Sans Condensed', sans-serif;
    text-align: center;
    margin-left: 36%;
    margin-top: 1%;
    font-size: 15px;
    margin-right: 1%;
    color: grey;
    font-weight: bold;


}

.grupo img {
    display: block;
    width: 60px;
    margin-left: 35%;
    margin-top: 1%;
    opacity: 70%;

}

.grupo p {
    display: block;
    margin-left: 41%;
    margin-top: -5%;
    color: grey;
    font-family: 'Roboto', sans-serif;
    font-size: calc(0.8em + 0vw);
    width: 90px;
}

.flores img {
    display: block;
    width: 70px;
    margin-left: 35%;
    margin-top: 0.1%;
    opacity: 70%;

}

.flores p {
    display: block;
    margin-left: 41.3%;
    margin-top: -6%;
    color: grey;
    width: 90px;
    font-family: 'Roboto', sans-serif;
    font-size: calc(0.8em + 0vw);
}

.oferta-1 {
    background-color: #e7fcfc;
    width: 95%;
    margin: 0 auto;
    height: 30vh;
    margin-top: 5%;
    border-color: #4563b8;
    border-style: dashed;
    display: block;
}

.oferta-2 {
    background-color: #e7fcfc;
    width: 100%;
    margin: 0 auto;
    height: 30vh;
    margin-top: 15%;
    border-color: #4563b8;
    border-style: dashed;
    display: block;
}

.oferta-2 {
    background-color: #e7fcfc;
    width: 100%;
    margin: 0 auto;
    height: 30vh;
    margin-top: 15%;
    border-color: #4563b8;
    border-style: dashed;
    display: block;
}

.oferta-3 {
    background-color: #e7fcfc;
    width: 95%;
    margin: 0 auto;
    height: 30vh;
    margin-top: 30%;
    border-color: #4563b8;
    border-style: dashed;
    display: block;
}

.oferta-1 p {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-weight: bold;
    color: rgb(81, 78, 78);
    letter-spacing: 1px;
    padding: 10px 15px 10px;
    font-size: 18px;
}

.oferta-3 p {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-weight: bold;
    color: rgb(81, 78, 78);
    letter-spacing: 1px;
    padding: 10px 15px 10px;
    font-size: 18px;
}

.oferta-1 ul li {
    margin-left: 4%;
    font-size: 17px;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-weight: bold;
    color: rgb(95, 92, 92);

    margin-top: 1%;
}

.oferta-3 ul li {
    margin-left: 4%;
    font-size: 17px;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-weight: bold;
    color: rgb(95, 92, 92);

    margin-top: 1%;
}

.valor-1 p {
    margin-left: 31rem;
    color: #15c276;
    font-size: 30px;
    margin-top: -10%;





}

.but-1 input[type='button'] {
    display: block;
    margin: 0 auto;
    margin-top: -7.5%;
    background-color: #4cbca4;
    width: 120px;
    height: 35px;
    border: none;
    border-radius: 20px;
    font-size: 15px;
    color: white;
    margin-left: 42rem;

}

.valor-1 span {
    margin-left: 60%;
    font-size: 12px;
    color: rgb(84, 81, 81);

}


.filtro {
    width: 15%;
    height: 10rem;
    background-color: #4cbca4;
    margin-top: 0.1%;
    position: absolute;
    left: 1%;
    padding: 1px 5px 1px;


}

.filtro h4 {
    font-size: 25px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.filtrar {
    background-color: white;
    width: 15%;
    height: 40vh;
    margin-top: 2.5%;
    position: absolute;
    left: 1%;
    padding: 5px 6px 20px;

}

.label-1 {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 18px;
}

.label-2 {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 18px;
}

.checkbox {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.filtrar button {
    border-color: #2ccaa7;
    background-color: transparent;
    padding: 5px 50px 5px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    border-radius: 10px;
    text-shadow: 1px 1px 1px grey;
}

